
body {
    font-family: 'Georgia', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

                        nav {
                            background-color: #002147;
                            padding: 15px;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
                        }

                        nav ul {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                            text-align: center;
                        }

                        nav ul li {
                            display: inline;
                            margin-right: 20px;
                        }

                        nav ul li:last-child {
                            margin-right: 0;
                        }

                        nav ul li a {
                            color: #f9f9f9;
                            text-decoration: none;
                            padding: 10px 20px;
                            font-size: 18px;
                            border: 2px solid transparent;
                            transition: all 0.3s ease;
                        }

                        nav ul li a:hover {
                            background-color: #002147; 
                            border-radius: 5px;
                            border-color: #ddd; 
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                        }

h1 {
    color: #002147;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

h2 {
    color: #002147;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    border-bottom: 2px solid #002147;
    padding-bottom: 5px;
}

p {
    margin: 5px 0 15px;
    font-size: 16px;
    color: #666;
}

form {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #002147;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group select,
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-group.full-width {
    grid-column: span 2;
}

input[type="submit"] {
    background-color: #002147;
    color: #f9f9f9;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #002147;
}

.default-bg {
    background-color: whitesmoke;
}

.highlight-bg-firma {
    background-color: #640101;
}

.highlight-bg-traslado {
    background-color: #91350d;
}

.highlight-bg-gestor {
    background-color: #a4892e;
}

.highlight-bg-ingreso-rpp {
    background-color: #1d3195;
}

.highlight-bg-salida-rpp {
    background-color: #355E3B;
}
